<!DOCTYPE html>
<html lang="es">

<head>
    <title>da Vinci</title>
    <!-- Required meta tags always come first -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Album Plus - Photo Collection Template , Responsive Bootstrap 4 template , bootstrap 4 starter template, bootstrap4 template, Album template, Photography Template">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" lang="en" content="Simple Bootstrap 4 Photography template , Responsive and Modern HTML5 Template made from bootstrap 4.">
    <meta name="keywords" lang="en" content="photography template, bootstrap 4 template,bootstrap 4 album template, responsive bootstrap 4 template, bootstrap 4, bootstraping, bootstrap4, oribitthemes, othemes">
    <meta name="robots" content="index, follow">
    <meta name="description" content="">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="style/main.min.css">
    <link rel="stylesheet" href="style/estilo.css">
</head>

<main id="main" role="main">
    <div id="main-banner" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-banner" data-slide-to="0" class="active"></li>
            <li data-target="#main-banner" data-slide-to="1"></li>
            <li data-target="#main-banner" data-slide-to="2"></li>
            <li data-target="#main-banner" data-slide-to="3"></li>
            <li data-target="#main-banner" data-slide-to="4"></li>
          
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">