<p></p>
                </div>
            </div>
            
           
        </div>
        <a class="carousel-control-prev" href="#main-banner" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#main-banner" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    
    <table style="text-align: center; font-size: 300%;">
        <tr>
            <th><a href="/">Indice</a></th>
            <th><a href="/picasso">Picasso</a></th>
            <th><a href="/vangogh">Van Gogh</a></th>
            <th><a href="/monet">Monet</a></th>
            <th><a href="/davinci">Da Vinci</a></th>
        </tr>
    </table>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="script/jquery.min.js"></script>
    <script src="popper.min.js" integrity=""></script>
    <script src="script/bootstrap.bundle.min.js"></script>
    <script src="main.min.js"></script>