{{> header}}

                <img src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/l/a/la-scapigliata-da-vinci.jpg" alt="First Album Photo">
                <div class="carousel-caption d-none d-md-block">
                    <h3>La Scapigliata</h3>
                    <p>​</p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/v/i/virgen-huso-leonardo.jpg" class="img-fluid" alt="Second Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>Virgen del Huso</h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/u/l/ultima-cena-reproduccion.jpg" class="img-fluid" alt="Third Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>La Última Cena</h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/m/o/mona-lisa-da-vinci.jpg" class="img-fluid" alt="Fourth Album Photo">
                <div class="carousel-caption d-none d-md-block">
                    <h3>La Mona Lisa</h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/e/s/estudio-manos-leonardo.jpg" class="img-fluid" alt="Third Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>Estudio de Manos y Brazos</h3>
                    
                    {{> navbar}}