{{> header}}
    <img src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/m/o/monet-impression-sunrise.jpg" alt="First Album Photo">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Impresión, sol naciente</h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/c/a/campo-amapolas-monet.jpg" class="img-fluid" alt="Second Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>Campo de amapolas</h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/j/a/jardin-giverny-monet.jpg" class="img-fluid" alt="Third Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>Jardín de Giverny</h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/image/490x387/a4b764e5482f62fb51dae89ed3917009/c/r/crepusculo-venecia-monet.jpg" class="img-fluid" alt="Fourth Album Photo">
                <div class="carousel-caption d-none d-md-block">
                    <h3> Crepúsculo de Venecia</h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/image/395x490/a4b764e5482f62fb51dae89ed3917009/e/l/el-paseo-mujer-sombrilla-monet-b.jpg" class="img-fluid" alt="Third Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>El Paseo</h3>
{{> navbar}}