{{> header}}
 <img src="https://www.infobae.com/new-resizer/AtEMdi-88_Tj0lm01Eq6g5piTNc=/750x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2017/04/08161507/Pablo-Picasso-El-Guernica-1937.jpg" alt="First Album Photo">
                <div class="carousel-caption d-none d-md-block">
                    <h3> <span style="color: black;"> Guernica (1937)</span></h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://www.infobae.com/new-resizer/tzdhrv6UsevXj5kUZ-86priPHbI=/750x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2017/04/08161553/Pablo-Picasso-La-primera-comuni%C3%B3n-1896.jpg" class="img-fluid" alt="Second Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>La primera comunión (1896)</h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://www.infobae.com/new-resizer/dvp_pevcFvuMyEqVg9vg_cFJKl4=/750x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2017/04/08161646/Pablo-Picasso-Portrait-of-Gertrude-Stein-1906.jpg" class="img-fluid" alt="Third Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3><span style="color: black;"> Retrato de Gertrude Stein (1906)</span></h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://www.infobae.com/new-resizer/EUkZE8T9bqX1c4eG86fA_8KxVeo=/750x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2017/04/08161435/Pablo-Picasso-Bulls-Head-1942.jpg" class="img-fluid" alt="Fourth Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>Cabeza de toro (1942)</h3>
{{> navbar}}